PORT=define port number for server to listen on
MONGO_URI= define MongoDB connection string
JWT_ACCESS_SECRET= define secret key for signing JWT access tokens
JWT_REFRESH_SECRET= define secret key for signing JWT refresh tokens