PORT=define port number for server to listen on
MONGO_URI= define MongoDB connection string
JWT_ACCESS_SECRET= define secret key for signing JWT access tokens
JWT_REFRESH_SECRET= define secret key for signing JWT refresh tokens
SUPABASE_URL = Supabase Dashboard -> Project Settings -> API -> Project URL
SUPABASE_SERVICE_KEY = Supabase Dashboard -> Project Settings -> API -> service_role key
EMAIL_PASS = email app pass
EMAIL_USER = mail 
FRONTEND_URL=frontend url